.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.header-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-img{
    width: 43px;
    height: 52px;
    margin-right: 11px;
}

.header-title{
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    user-select: none;
    color: #1A252B;
}

.main-div {
    padding: 70px 30px 10px;
}

.main-form-add-ingredient {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;
}

.main-form-add-ingredient > input {
    padding: 9px 13px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.main-form-add-ingredient > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.main-form-add-ingredient > button::before {
    content: "+";
    margin-right: 5px;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

/**
header box shadow code:
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
*/
