* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  text-align: center;
  max-width: 352px;
  gap: 4px;
  margin-top: 36px;
  margin-bottom: 20px;
}

header > * {
  margin-block: 0px;
  margin-inline: 0px;
}

header h1 {
  font-size: 1.5rem;
  color: #F9F4DA;
}

header p {
  font-size: 1rem;
  color: #8E8E8E;
}

section.game-status{
  min-height: 59px;
  width: 100%;
  max-width: 352px;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  margin-block: 20px;
}

section.game-status.lost{
  background-color: #BA2A2A;
}


section.game-status.won{
  background-color: #10A95B;
}




section.game-status > * {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  margin: 0;
  color: #F9F4DA;
}

section.game-status h1::after {
  font-size: 1.5rem;
}

section.game-status p {
  font-size: 1rem;
}

section.languages-container {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 1.5px;
  flex-wrap: wrap;
  max-width: 352px;
  padding: 36px;
}



section.word-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  max-width: 352px;
}


section.keyboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 480px;
  margin-top: 50px;
  margin-bottom: 36px;
}

button.new-game {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}

button.keyboard-button {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #FCBA29;
}

button.keyboard-button.guessed {
  background-color: #EC5D49;
}

button.keyboard-button.guessed.correct {
  background-color: #10A95B;
}

span.word-letter {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-bottom: 1px solid #F9F4DA;
  background-color: #323232;

}


span.language-letter {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  font-size: 12px;
  padding: 4.5px;
  border-radius: 4px;
  position: relative;
}

span.language-letter.die::before{
  font-size: 0.85rem;
  content: "💀"; /*<meta charset="UTF-8">*/
  border-radius: 4px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}