.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.nav-bar {
  padding: 1rem 0 1rem 0.5rem ; 
  display: flex;
  align-items: center;
  background: #1E1F26;
}

.nav-img {
  max-width: 2rem;
  padding: 1rem;
}

.nav-text {
  font-size: 1.4rem;
  color: #61DAFB;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  background-image: url("../react-logo.png") ;
  background-repeat: no-repeat;
  background-position: 150%;
  background-size: 50%;
}

.main-title {
  margin-left: 5rem;
  font-size: 2.5rem;
}

.main-list {
  margin-left: 5rem;
}

.main-list > * {
  margin: 0 0 1rem 0;
}

.main-list > li::marker {
  color: #61DAFB;
  font-size: 1.3rem;
}


body {
  background: #27292c;
  color: white;
  margin: 0;
}


h1 {
  margin-top: 2rem;
}

