
.header-img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.main-header {
  width: Fixed (550px)px;
  height: Fixed (55px)px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 14.46;
  font-family: 'Inter';
  font-weight: '500';
  word-wrap: 'break-word';
  background-color: #F55A5A;
  padding: 20px 0 20px 0;
}

.main-header:hover {
  background-color: #bd4f4f;
}

.main-header:active {
  background-color: #a54747;
}

.main-header > span {
  padding: 7px;
}

html, body {
  margin: 0;
}